* {
  margin: 0;
  padding: 0px;
}

.visually-hidden {
  display: none;
}

.Todo {
  background-image: url("./img/todo_button.png");
  background-repeat: no-repeat;
  background-position: 10.7vw 0vw;
  padding-left:5.5vw;
}
.completed {
  background-image: url("./img/todo_button_active.png");
  background-repeat: no-repeat;
}
.completed li {
  opacity: 0.6;
}

.deleting {
  background-position: 10.7vw 0vw;
  background-image: url("./img/delete_todo.png");
  background-repeat: no-repeat;
}

.deleting {
  padding-left: 5.5vw;
  margin-left: 0px;
}

#delete-button{
  border:none;
  background: transparent;
  position: absolute;
  margin-left: 3.4vw;
  width: 30px;
  height: 30px;
}
